body{
margin:0;
font-family:Arial;
background:#5da2fd;
text-align:center;
}

h1{
margin:15px 0;
color: whitesmoke;
}

.subtitulo{
    color: whitesmoke;
    margin:15px 0;
    text-align: center;
     padding: 15px 15px;
    font-size: 15px;
    background-color: #ff5a5a;
}

.subtitulo2{
    margin:10px auto;
    padding: 15px 15px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 251, 244);

}

.grid{

display:grid;
grid-template-columns:repeat(10,1fr);
gap:3px;
padding:10px;

}

.cell{

background:white;
padding:10px 0;

font-weight:bold;
font-size:14px;

border-radius:5px;

display:flex;
align-items:center;
justify-content:center;

aspect-ratio:1/1;

}

.sold{
background:#ff5a5a;
color:white;
}

.admin{

margin:20px;
background:white;
padding:15px;
border-radius:8px;

}

textarea{

width:90%;
height:120px;

}

button{

margin-top:10px;
padding:8px 15px;

}

.info{
text-align: left;
background:white;
margin:15px;
padding:15px;
border-radius:8px;

}

@media (min-width: 900px){

.grid{
grid-template-columns:repeat(20,1fr);
max-width:1000px;
margin:auto;
}